spring:

  profiles:
    group:
      "local": "local, jwt, oauth"
    active: local
---
spring:




  datasource:
    #데이터 소스 설정
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pet?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Seoul
    username: impjs17
    password: test123!

  config:
    activate:
      on-profile: "local"

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher




server:
  port: 8080

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
